.links{
  color: black;
  text-decoration: none;
}

.back{
  color: white;
  width: 100%;
  height: 4rem;
  background-color: #e5e5f7;
opacity: 0.8;
background-image: linear-gradient(to right top, #051937, #09344d, #095b63, #0b7a4d, #70961f);
}
/* HEADER SECTION */
.navbar{
  font-size: 1.2rem;
  background-color: #dfe4cd;
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}

/* HOME SECTION */
.nicheSection{
  flex-wrap: wrap;
  gap: 1rem;
  background-image: url('./assets/niche.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background:url('./assets/niche.jpeg');
  padding: 3rem 0;
  background-position: 50% 35%;
}

.heading{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;
  color: #404040;
}

.btn-5 {
  padding: 5px 15px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn-5:hover {
  color: #e8e8e8;
 }
 
 .btn-5:hover::before {
  width: 100%;
 }

/* SKILL CATALOG */
.catalog{
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.catalog div span{
  display: flex;
  width: max-content;
  flex-direction: row;
  gap: 5px;
}
.catalog ul{
  display: flex;
  flex-wrap: wrap;
}
.catalog ul li{
  list-style-type: none;
  border: 1px solid black;
  border-radius: 25px;
  margin:5px;
  padding: 3px 10px;
  width: max-content;
}


/* About Design */
.TagLineSection{
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  justify-content: space-around;
  align-items: center;
}

.aboutLogoImg{
  width: 10rem;
border:10px solid gray ;
padding: 5px;
border-top-right-radius: 25%;
border-bottom-left-radius: 25%;
display: flex;
justify-content: center;
align-items: center;

}

.titles{
  font-size: 1.5rem;
  text-align: center;
}

.whoSection,.visionSection,.missionSection{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.visionSection{
  flex-direction: row-reverse;
}

.mentorsContainer,.reasonsContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
.mentorsContainer div{
  margin: 5px 0;
}

.mentorsContainer p{
  font-weight: bolder;
  margin: 15px 0;
  line-height: 10px;
}

.mentorsImg{
object-fit: cover;
border-radius: 50%;
min-width:100px;
max-width: 200px;
}
/* About Design */


/* Footer Design */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__links li {
  margin-right: 20px;
}

.footer__links a {
  color: #fff;
  text-decoration: none;
}


@media only screen and (max-width: 400px) {
  .nicheSection{
    background-position:50% 45%;
    padding: 2rem 0.1rem;
  }
  .heading{
    font-size: 2.5rem;
  }

  .btn-5{
    font-size: 0.8rem;
  }
  .TagLineSection{
    justify-content: center;
  align-items: center;
flex-direction: column;
    
  }
  .TagLineSection div{
    margin: 1rem 0;
  }
 
  .whoSection,.visionSection,.missionSection{
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .CourseCardContainer{
    align-items: center;
    justify-content: center;
  }
  
  
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.btn-5{
  font-size: 0.8rem;
}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.btn-5{ 
  margin-top: 0.8rem;
}
.catalog{
  grid-template-columns: auto auto;
}
.reasonsContainer{
  flex-direction: row;
}
.whoSection,.visionSection,.missionSection{
  flex-direction: column;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mentorsContainer{
    flex-direction: row;
  }
  .whoSection,.visionSection,.missionSection{
    flex-direction: row;
    
  }
  .visionSection{
    flex-direction: row-reverse;
  
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar{
    font-size: 1.3rem;
  }
  .heading{
      font-size: 5rem;
  }
  .catalog{
    grid-template-columns: auto auto auto;
  }

}
